*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px gray;
}
div, h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.column-1{
    border: 1px solid black;
    padding: 2%;
    text-align: justify;
}
#first, #second, #third{
    position: relative;
    background-color: gray;
    border-radius: 10px;
    border-top-right-radius: 0px;
}
#first{
    box-shadow: 4px 4px 4px greenyellow;
}
#second{
    box-shadow: 4px 4px 4px hotpink;
}
#third{
    box-shadow: 4px 4px 4px peru;
}
h3{
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    width: 100px;
    text-align: center;
    margin: 0px;
    padding: 2px;
    position: absolute;
    top: -1px;
    right: -1px;
    
}
#no1{
    background-color: greenyellow;
}
#no2{
    background-color: hotpink;
}
#no3{
    background-color: peru;
}
/*desktop mode => three sections*/
@media (min-width: 992px){
    .col-3{
        width: 30%;
        float: left;
        margin: 1.66%;
    }
}
/*tablet mode => two sections in the first row and the third section should take up the whole second row*/
@media (min-width: 768px) and (max-width: 991px){
    .col-2{
        width: 45%;
        float: left;
        margin: 2.5%;
    }
    #third{
        clear: both;
        width: 95%;
        margin: 2.5%;
    }

}
/*mobile mode => each section should take up the entire row*/
@media (max-width: 767px){
    .column-1{
        width: 95%;
        margin: 2.5%;
    }
}